<!DOCTYPE html>
<html lang="pt">

  {% include head.html %}

    <body>
      <div class="container">

        {% include header.html %}

        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <main>
            {{ content }}
            </main>
          </div>
        </div>

        {% include footer.html %}

      </div>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XJM922LVQZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){window.dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'GA_MEASUREMENT_ID');
</script>
</html>
